[build]
builder = "nixpacks"
buildCommand = "pip install -r requirements.txt"

[build.nixpacksPlan.phases.setup]
nixPkgs = ["python312"]

[deploy]
startCommand = "uvicorn app:app --host 0.0.0.0 --port $PORT"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
